.restaurantintro_outer {
	background-color: $primary_TextColor;
	
	padding: 50px 0;

	@media ( max-width:$tablet_Small ) { text-align:center; }

	@media ( max-width:$desktop_Small ) { padding:100px 0 60px 0; }
	

	&.locations_layout_1 {
		.dining_detail {
			margin: 0;
			@media ( max-width:$tablet_Small ) { margin:50px 0 0 0; }
			.dining_thumbnail {
				@media ( max-width:$desktop_wide ) { width:100%; }
				@media ( max-width:$tablet_Small ) { width:100%; }
			}
			.diningdetail_row {
				h4 {
					position: relative;
					background-color:#ff6600;
					padding: 8px 22px 0 22px;
			    line-height: 80px;
			    font-size: 60px;
					color:$primary_TextColor;
					text-transform: uppercase;
					margin-top:-58px;
					z-index: 9;
					letter-spacing: 2px;
					font-family: 'alternate-gothic-no-2-d', sans-serif;
					border: 1px solid transparent;
					transition: all 0.3s ease-in-out;

					&:hover {
						background-color: #fff;
						color: #ff6600;
						border-color: #ff6600;
					}

					@media ( max-width:$desktop_medium ) { font-size: $body_FontSize + 40; line-height: $body_LineHeight + 55; }
					@media ( max-width:$tablet_Wide ) { line-height: $body_LineHeight + 32;	font-size: $body_FontSize + 20; margin-top: -38px; }
				}
				.diningarrow_btn {
					display: inline-block;
					width:40px;
					margin: 10px 0 0 0;
					color: #ff6600;
					transition:all 300ms;
					@media ( max-width:$desktop_wide ) { margin-right:0; }

					&:hover {
						color: #000;
						transition:all 300ms;
					}
				}
			}
		}
	}

	&.locations_layout_2 {
		.dinning_inner {
			text-align:center;
			padding-bottom:40px;
			
			.one-liner {
			    display: block;
			    color: #999;
			    font-size: 12px;
			    text-transform: uppercase;
			    font-family: "proxima-nova",sans-serif;
			    font-weight: 700;
			    transition: all 300ms;
			    text-align: center;
			    line-height: 15px;
			    padding: 40px 0 35px 0;
			}

			ul {
				text-align:center;
				line-height:15px;
				padding:40px 0 35px 0;
				li {
					display:inline-block;
					&:last-child {
						a {
							&:after {
								content:'';
							}
						}	
					}
					a {
						display:inline-block;
						color:#999;
						font-size: 12px;
						text-transform:uppercase;
						font-family: "proxima-nova",sans-serif;
						font-weight:700;
						transition:all 300ms;

						&:after {
							content:'/';
							color:#999;
							font-size: 12px;
							padding:0 5px;
						}
					}
				}
			}
			a.title {
				display:inline-block;
				text-align:center;
				color:#ffa000;
				font-size: 60px;
				font-family: "jubilat",serif;
				font-weight:300;
				line-height:41px;
				position:relative;
				transition:all 300ms;

				@media ( max-width:$tablet_Wide ) { font-size:46px; }
				
				&:hover {
					color:#999;
				}
				&:after {
					position:absolute;
					left:0;
					right:0;
					bottom:-40px;
					margin:0 auto;
					width:40px;
					height:12px;
					content:'';
					cursor:pointer;
					transition:all 300ms;
					background:url(../images/goodness-arrow.png) left top no-repeat;
				}
				&:hover {
					&:after {
						position:absolute;
						left:0;
						right:0;
						bottom:-40px;
						margin:0 auto;
						width:40px;
						height:12px;
						content:'';
						background:url(../images/goodness-arrowhover.png) left top no-repeat;
					}
				}

				svg {
					display: block;
					margin: auto;
					margin-top: 40px;
				}
			}
		}
	}
}