.vision_heroimg {
	position: relative;
	background:url(../images/home_bg1.png) center center no-repeat;
	padding:298px 0 325px 0;
	background-size:cover;

	@media ( max-width:$tablet_Wide ) { padding:180px 0 210px 0; }
	@media ( max-width:$phone_Medium ) { padding:100px 0 150px 0; }

	h1 {
		color: $primary_TextColor;
		font-family: 'bariol_seriflight';
		font-size:$body_FontSize + 62;
		line-height: $body_LineHeight + 42;
		text-transform: capitalize;
		@media ( max-width:$phone_Medium ) { font-size:$body_FontSize + 30; }
	}
}