
.food_menu_outer {
	background-color:#fff;

	.col-sm-12 {
		text-align:center;
	}
	.food_menu_title {
		display: inline-block;
		font-size:$body_FontSize + 62;
		line-height:$body_LineHeight + 76;
		background-color:#ff6600;
		font-family:'alternate-gothic-no-2-d', sans-serif;
		text-transform:uppercase;
		letter-spacing:1px;
		text-align:center;
		padding:0 28px;
		margin-top:-58px;
	}
	.location_detail {
		@extend .col-sm-8;
		padding-top: 90px;
		p {
			color:#000;
			font-size:$body_FontSize + 2;
			line-height:$body_LineHeight;
			padding:0 80px 40px 0;
			font-family: 'leitura-news', serif;
			@media ( max-width:$tablet_Small ) { 
				padding-right:10px;
			}
		}
		.menu_title_list {
			li {
				display:inline-block;
				width:100%;
				color:#ff6600;
				font-size:$body_FontSize + 12;
				line-height:$body_LineHeight;
				font-family:'alternate-gothic-no-2-d', sans-serif;
				text-transform:uppercase;
				letter-spacing:1px;
				cursor:pointer;
			    transition: all 300ms;

				svg {
					display: inline-block;
				    margin: 0 17px 0 0;
				    position: relative;
				    top: -7px;
				}

				&:hover {
					color: #000;
				}
			}
		}
	}
	.location_address {
		@extend .col-sm-4;
		padding-top:90px;
		h3 {
			color:#000;
			font-size:$body_FontSize + 12;
			text-transform:uppercase;
			letter-spacing:1px;
			font-family: 'alternate-gothic-no-2-d', sans-serif;
			padding-bottom:50px;
		}
		h4 {
			text-transform:uppercase;
			color:#000;
			font-size:$body_FontSize - 6;
			padding-bottom:5px;
			font-weight:600;
			font-family: 'leitura-news', serif;
		}
		p {
			color:#000;
			font-size:$body_FontSize + 2;
			line-height:$body_LineHeight - 10;
			padding-bottom:45px;
			font-weight:600;
			font-family: 'leitura-news', serif;
		}
	}
}