.restaurantintro_outer {
	background-color: $primary_TextColor;
	
	padding: 50px 0;

	@media ( max-width:$tablet_Small ) { text-align:center; }

	@media ( max-width:$desktop_Small ) { padding:100px 0 60px 0; }

	.restaurantintro_logo {
		border-right:1px solid #ccc;
		padding:50px 100px 50px 0;
		@media ( max-width:$tablet_Wide ) { padding-right:35px; }
		@media ( max-width:$tablet_Small ) { border:0; padding:0 0 35px 0; margin:0 0 25px 0; }
	}
	.intro_title {
		margin:45px 0 38px 0;
		font-size:$body_FontSize + 2;
		color:$body_Bg;
		font-family: 'alternate-gothic-no-2-d', sans-serif;
		@media ( max-width:$tablet_Wide ) { margin-left:35px; }
		@media ( max-width:$tablet_Small ) { text-align:left; margin:0; }
	}
	.intro_text {
		font-size:$body_FontSize + 22;
		color:$body_Bg;
		line-height: $body_LineHeight + 22;
		margin:0;
		font-family: "leitura-news",serif;
		letter-spacing: 1px;
		@media ( max-width:$desktop_medium ) { font-size:$body_FontSize + 20; }
		@media ( max-width:$desktop_Small ) { font-size:$body_FontSize + 10; }
		@media ( max-width:$tablet_Wide ) { margin: 0 0 0 35px; line-height:$body_LineHeight + 10; }
		@media ( max-width:$tablet_Small ) { text-align:left; margin:25px 0 0 0; }
		@media ( max-width:$phone_wide ) { font-size:$body_FontSize + 6; }
	}
}