.home_newsevents {
  padding:98px 0 120px 0;
  @media ( max-width:$tablet_Small ) { padding-bottom:80px; }
  @media ( max-width:$phone_Medium ) { padding:60px 0; }

  
  .newsevents_left {
    h2 {
      color: #989898;
      font-size: $body_FontSize + 54;
      line-height:$body_LineHeight + 40;
      padding-bottom:80px;
      font-weight: 300;
      font-family: 'bariol_seriflight';
      
      @media ( max-width:$desktop_Small ) { font-size:$body_FontSize + 42; }
      @media ( max-width:$tablet_Wide ) { font-size:$body_FontSize + 22; line-height:$body_LineHeight + 10; padding-bottom:50px; }
      @media ( max-width:$phone_Medium ) { font-size:$body_FontSize + 10; line-height:$body_LineHeight; padding-bottom:30px; }

    }
    p {
      font-size:$body_FontSize;
      line-height:$body_LineHeight;
      padding:0 0 60px 0;
      @media ( max-width:$desktop_Small ) { padding-bottom:30px; }
      @media ( max-width:$tablet_Wide ) { font-size:$body_FontSize - 2; line-height:$body_LineHeight - 4; }
      @media ( max-width:$phone_Medium ) { font-size:$body_FontSize - 4; }

      b {
        color: $secondary_color;
        font-weight: normal;
      }
    }
    a {
      font-size:$body_FontSize;
      line-height:$body_LineHeight;
      color: #ec6b5b;
      background:url(../../image/home_arrow.png) left center no-repeat;
      padding-left:38px;
      &:hover {
        background:url(../../image/home_arrowhover.png) left center no-repeat;
        color: #fff;
      }
    }
  }

  .newsevents_right {
    .newsevents_right_inner {
      padding:0 0 0 70px;
      @media ( max-width:$tablet_Wide ) { padding-left: 20px; }
      @media ( max-width:$tablet_Small ) { padding-left: 0; }

      h5 {
        font-size:$body_FontSize - 6;
        color: $primary_TextColor;
        font-weight: 700; 
        padding:170px 0 30px 0;
        letter-spacing: 2px;

        @media ( max-width:$tablet_Wide ) { padding-top:152px; }
        @media ( max-width:$tablet_Small ) { padding:70px 0 20px 0; }   
      }
      h3 {
        
        padding:0 0 15px 0;

        a {
          font-family: "bariol_serifregular";
          color: $secondary_color;
          font-size: $body_FontSize + 6;

          @media ( max-width:$desktop_Small ) { font-size:$body_FontSize + 2; }
          @media ( max-width:$tablet_Wide ) { font-size:$body_FontSize - 2; }
          @media ( max-width:$tablet_Small ) { font-size:$body_FontSize + 6; }
          @media ( max-width:$phone_wide ) { font-size:$body_FontSize + 2; }
          @media ( max-width:$phone_Medium ) { font-size:$body_FontSize - 2; }

          &:hover {
            color: #fff;
          }
        }
      }

      h4 {
        font-size:$body_FontSize - 6;
        color: #999;
        padding:0 0 30px 0;
        text-transform: uppercase;
        letter-spacing: 3px;
      }
    }
  }
}