body {
    font-family: $primary_FontFamily !important;
    background-color:$body_Bg;
    font-size:$body_FontSize;
    font-weight:400;
    color:$primary_TextColor;
    line-height:$body_LineHeight;
}
h1, h2, h3, h4, h5, h6, p, ul, li, a, span {
    margin:0;
    padding:0;
}
a {
    outline:none;
    transition:all 300ms;
}
a:hover {
    text-decoration:none;
}
a:focus {
    outline:none;
}
li {
    display: inline-block;
}

.wrapper { clear:both; }

.header_relative {
    position:absolute !important;
    trnasition:all 300ms;
    top:0;  
    @media ( max-width:$tablet_Small ) { position:fixed !important; }

}
.fixed{
    position:fixed;
    width:100%;
    height:80px;
    top:0;
    transition:all 300ms;
}


/* container default width ---------------- */
@media ( min-width:1230px ) {
    .container {
        width:1230px;
    }
}