@font-face {
    font-family: 'bariol_seriflight';
    src: url('../../fonts/bariol_serif_light-webfont.eot');
    src: url('../../fonts/bariol_serif_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/bariol_serif_light-webfont.woff2') format('woff2'),
         url('../../fonts/bariol_serif_light-webfont.woff') format('woff'),
         url('../../fonts/bariol_serif_light-webfont.ttf') format('truetype'),
         url('../../fonts/bariol_serif_light-webfont.svg#bariol_seriflight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bariol_serifregular';
    src: url('../../fonts/bariol_serif_regular-webfont.eot');
    src: url('../../fonts/bariol_serif_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/bariol_serif_regular-webfont.woff2') format('woff2'),
         url('../../fonts/bariol_serif_regular-webfont.woff') format('woff'),
         url('../../fonts/bariol_serif_regular-webfont.ttf') format('truetype'),
         url('../../fonts/bariol_serif_regular-webfont.svg#bariol_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}