/* margin auto ------------------------ */
@mixin push-auto {
    margin: { 
        left: auto;
        right: auto;
    }
}

@mixin home_slidetext {
  font-size:$body_FontSize - 3;
  line-height:$body_LineHeight - 8;
  color:$primary_TextColor;
}

@mixin overlay( $opacity ){ 
	background-color: rgba( 0, 0, 0, $opacity );
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}