$yellow: #ffff00;

$body_Bg:#171717;
$primary_FontFamily:'Amiko', sans-serif;
$secondary_FontFamily:'bariol_serifregular';
$goodnessPrimary: 'jubilat', serif;
$goodnessSecondary: 'proxima-nova', sans-serif;
$body_FontSize: 18px;
$body_LineHeight:38px;
$primary_TextColor:#fff;
$secondary_color:#ec6b5b;


/* media query breakpoints ----------------- */
$desktop_large:1880px;
$desktop:1600px;
$desktop_wide:1375px;
$laptop_wide:1366px;
$laptop:1280px;
$desktop_medium:1279px;
$desktop_Small:1200px;
$tablet_Wide:991px;
$tablet_Small:767px;
$phone_wide:639px;
$phone_Medium:479px;
$phone_Small:359px;


/* height media query ------------------ */
$desktop_Height:815px;
$tablet_Height:851px;
$tablet_SmallHeight:641px;
$phone_wideHeight:500px;
$phone_smallHeight:360px;