
// Libraries

// Optional: @import "../../bower_components/compass-mixins/lib/compass";
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../../bower_components/normalize-css/normalize";
@import "../../bower_components/animate.scss/scss/animate";
@import "../../bower_components/wow/css/libs/animate";


// Bbootstrap
@import "bootstrap/bootstrap";


// Theme Configuration

@import "variables";
@import "mixins";
//@import "base";
@import "body";
@import "fonts";
//@import "type";
//@import "layout";

// views

// Pages

@import "pages/careers";
@import "pages/restaurant";
@import "pages/restaurant_goodness";
@import "pages/restaurant_obon";
@import "pages/restaurant_bird";
@import "pages/location";
@import "pages/contact";
//@import "pages/home";
//@import "pages/sample";

//@import "views/navigation";
@import "views/header";
@import "views/restaurants_modal";
@import "views/footer";
@import "views/blog";
@import "views/single";
@import "views/fancy_slider";
@import "views/contact_form";



// Magnific Popup
@import "magnific/magnific";

// Modules

@import "../../includes/modules/modules";

// Global Rules

/*
body{
	margin:0px;
	padding:0px;
}

.container{
	@include container($container);
	overflow: hidden;
}
*/