.header_outer {
	position:relative;
}
.video_outer {
	position:relative;
	// background-image:url(../images/main_hero_img.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;

	video {
		margin: 0 auto;
    display: block;
	}

	.video_playbtn {
		position:absolute;
		top: 455px;
		margin-bottom: 342px;
		width: 100%;
		text-align: center;
		cursor: pointer;	

		@media ( max-height:$tablet_Height ) { top:270px; }	
		@media ( max-height:$tablet_SmallHeight ) { top:110px; margin-bottom:0; }
		@media ( max-height:$phone_smallHeight ) { top:80px; }
	}
	.scroll_downarrow {
		position:absolute;
		bottom:166px;
		width: 100%;
		text-align: center;
		a {
			display: inline-block;
			cursor: pointer;
			padding:0 5px;
		}

		@media only screen and (max-height: $phone_wideHeight) {
			display: none;
		}
	}

}