.newsevents_outer {
	margin:100px 0 0 0;
	@media ( max-width:$tablet_Small ) { margin:70px 0 0 0; }

	.newsevents_left {
		position:relative;
		@media ( max-width:$tablet_Small ) { margin-bottom:50px; }

		.form-group { margin-bottom:0; }
		.search_field {
			display:inline-block; 
			width:300px;
			height:70px;
			border:1px solid #bdbdbd;
			padding:14px 24px;
			box-sizing:border-box;
			margin:0 0 40px 0;
			font-size:$body_FontSize;
			color:#171717;
			
			@media ( max-width:$desktop_Small ) { width:100%; }

		}
		.search_icon {
			position:absolute;
			top:24px;
			right:92px;
			z-index: 2;
			cursor: pointer;

			background: url( ../../image/search-icon.png ) no-repeat;
		    background-size: 35px;
		    border: none;
		    width: 40px;
		    margin: -7px 5px auto auto;

			@media ( max-width:$desktop_Small ) { right:24px; }
		}
		h2 {
			color: #999;
			font-size:$body_FontSize - 6;
			text-transform:uppercase;
			letter-spacing: 1px;
			line-height:$body_LineHeight - 26;
			margin-bottom:20px;
		}
		.widget_categories, ul.newsevents_list {
			li {
				width:100%;
				padding:0 0 8px 0;
				line-height:$body_LineHeight - 22;
				a {
					display: inline-block;
					color: $secondary_color;
					line-height:$body_LineHeight - 22;
					background:url(../../image/home_arrow.png) left center no-repeat;
					padding-left:35px;
					&:hover {
						color:$primary_TextColor;
						background:url(../../image/home_arrowhover.png) left center no-repeat;	
					}
				}
			}
		}
	}

}

#ajax-loading {

	display: none;
    margin: 0 0 95px 0;

	>span {

	    display: block;
	    text-align: center;
	    color: #ec6b5b;
	    font-size: 18px;
	    line-height: 18px;
	}
}

.post_detail {
	.post_box {
		position:relative;
		margin:0 0 20px 0;
		a {
			.post_inner {
				position:absolute;
				bottom:40px;
				left:52px;
				z-index: 2;
				@media ( max-width:$tablet_Small ) { left:25px; }	
				@media ( max-width:$phone_Medium ) { left:10px; bottom:20px; }

				h3 {
					color:$primary_TextColor;
					font-size:$body_FontSize + 18; 
					line-height:$body_LineHeight - 2;
					@media ( max-width:$tablet_Wide ) { font-size:$body_FontSize + 8; }
					@media ( max-width:$phone_Medium ) { font-size:$body_FontSize; line-height:$body_LineHeight - 16; }


				}
				h4 {
					color:$primary_TextColor;
					font-size:$body_FontSize - 6;
					margin-bottom:20px;
					//font-family: $secondary_FontFamily;
					@media ( max-width:$phone_Medium ) { margin-bottom:10px; }
				}
			}
		}
	}

	.posts-navigation {
		// display: inline-block;
		display: none;

		.nav-previous {
			float: left;
		}

		.nav-next {
			float: right;
		}

		a {
		    display: inline-block;
		    color: #ec6b5b;
		    font-size: 18px;
		    line-height: 18px;
		    text-transform: capitalize;

		    &:hover {
		    	color: #fff;
		    }
		}

	}

	#ajax-load-more-by-bkker-theme-trigger {

			display: block;
			text-align: center;
			color: $secondary_color;
			font-size:$body_FontSize;
			line-height:$body_LineHeight - 20;
			margin: 50px 0 95px 0;
			text-transform:capitalize;
			
			&:hover {
				color: #fff;
			}
	}
}
.newspost_outer {
	.single-post-content.custom-content-inner {
		h1 {
			margin: 0px; 
			padding:0px;
			font-size: 80px; 
			line-height:80px;
			font-family: 'bariol_seriflight';
			max-width: 80%;
    		margin: 0 auto;
    		@media ( max-width:$desktop_Small ) { 
				font-size: 60px;
				line-height: 70px;
    		}
    		@media ( max-width:$tablet_Wide ) { 
				font-size: 44px;
   				line-height: 56px;
    		}
    		@media ( max-width:$tablet_Small ) { 
				font-size: 34px;
   				line-height: 46px;
   				max-width: 100%;
    		}	
		}
		h2 {
			margin: 0px; 
			padding:0px;
			font-size: 36px; 
			line-height:48px; 
			font-family: 'bariol_serifregular';
			text-align: left;
			max-width: 80%;
    		margin: 0 auto;
    		@media ( max-width:$tablet_Small ) { 
				max-width: 100%; 
    		}	
		}
		h3 {
			margin: 0px;
			padding:0px;
			color: #fff;
			font-size: 24px;
			font-weight: normal;
			line-height:32px; 
			font-family: 'bariol_serifregular';
			text-align: left;
			max-width: 80%;
    		margin: 0 auto;
    		@media ( max-width:$tablet_Small ) { 
				max-width: 100%; 
    		}	
		}
		h4 ,h5,h6 {
			margin: 0px; 
			padding:0px;
			font-size:12px; 
			line-height:24px;  
			text-align: left;
			max-width: 80%;
    		margin: 0 auto;
    		@media ( max-width:$tablet_Small ) { 
				max-width: 100%; 
    		}	
		}
		img{
			max-width: 100%;
			width: 100%;
			height: auto;
			margin-bottom: 30px;
		}
		p{
			margin:auto;
    		margin-bottom: 30px;
			padding:0px;
			font-size: 18px;
			line-height: 36px; 
			max-width: 80%;
			@media ( max-width:$tablet_Small ) { 
				max-width: 100%; 
    		}	
		}

	}
}

