.gform_wrapper, .gravity-form-holder {
	
	background:#fff !important; 
	max-width:100% !important;

	img {
		width: auto !important;
		height: auto !important;
	}

	form{
		padding-top:100px !important;
		padding-bottom:100px !important;
		@media ( max-width:$tablet_Wide ) { 
			padding:50px 0 !important;
		}
	}
	@media ( max-width:$tablet_Wide ) { 
		padding:0 30px !important;
	}	

}

.gravity-form-holder {
	
	margin: 50px auto;
	color: #ccc;

	.gform_confirmation_message {
		padding: 100px;
		text-align: center;
	}
}

.gform_wrapper li, .gform_wrapper form li { display:block !important;}
.gform_wrapper, .gravity-form-holder{ 
	background:#fff !important;
	padding:0 100px !important;
	@media ( max-width:$tablet_Wide ) { 
		padding:0 30px !important;
	}	
	@media ( max-width:$phone_Medium ) { 
		padding:0 15px !important;
	}
}
.gform_wrapper input[type="text"],
.gform_wrapper input[type="email"],
.gform_wrapper input[type="password"],
.gform_wrapper input[type="tel"],
.gform_wrapper textarea{ 
	border:1px solid #cccccc !important; 
	padding:0 30px !important; 
	line-height:82px !important; 
	font-size:24px !important; 
	color:#333333 !important; 
	margin:0 0 40px 0 !important;
	width:100% !important;
	vertical-align:top !important;
	@media ( max-width:$phone_wide ) { 
		line-height: 62px !important;
	}
	@media ( max-width:$phone_Medium ) { 
		line-height: 52px !important;
	}
}

.gform_wrapper textarea {
	line-height: 42px !important;
}

.gform_wrapper {
	.top_label {
		.gfield_label {
			margin: 0px!important; 
			padding:0px!important;
			color: #999999 !important;
			font-size: 12px;
			letter-spacing: 2px;
			margin-bottom: 20px; 
			font-weight: bold;
			text-transform: uppercase;
		}

		.gfield_error {
			width: 100% !important;
		}
	}	
	.gfield.gf_left_half ,.gfield.gf_right_half{
		
		@media ( max-width:$phone_wide ) { 
			width: 100% !important;
		}	
	}
}
.gform_wrapper li.gfield.gf_list_2col ul.gfield_radio li {
	width:auto !important;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
	width:100%;
	margin:0px;
	padding:0px;
	line-height:80px;
	border:0px;
	background:#ec6b5b;
	font-size:24px;
	font-family: 'bariol_serifregular';
	@media ( max-width:$tablet_Wide ) { 
		line-height:50px;
	}	
}

.gform_wrapper .gform_footer input[type=submit] {
	
	color: #fff;
	font-weight: bold;
	border: 1px solid #ec6b5b;
	transition: all .3s ease-in-out;

	&:hover {
		background: #fff;
		color: #ec6b5b;
		border: 1px solid #ec6b5b;
	}
}

.gform_wrapper .gfield_radio li
input[type="radio"]{
	display:none;
}
input[type="radio"]:checked + label{
	background:url(../../image/checkbox-checked.png) left center no-repeat;
	font-weight:400;
}
.gfield_radio {
	label  {
		font-size:24px; 
		color:#333333;
		line-height:32px !important;
		font-family: 'bariol_serifregular';
		padding-left:40px !important;
		background:url(../../image/checkbox.png) left center no-repeat;
		margin:0px 50px 0 0 !important;
		font-weight:400;
	}
}
