.slider{
	margin:0 auto;
	position: relative;
	max-width: 100%;
	max-height: 600px;
}
.slider>span{
	position: absolute;
	left:50%;
	top:50%;

	//width:42.3%; 
	/*height: 100%;*/
	transition: transform .5s;
	transform: translate(-50%,-50%)scale(1);
	text-align:center;
	background: rgba(255,255,255,0.7);
	z-index: 0;
}
.slider>span.left , .slider>span.center , .slider>span.right{
	display:inline-block;
	opacity: 1;
}
.slider>span.left{
	transform: translate(-118.25%,-50%);
	z-index: 1;
}
.slider>span.center{
	z-index: 2;
}
.slider>span.right{
	transform: translate(18.25%,-50%);
	z-index: 1;
}
.slider>.navContainer{
	width:49%;
	height: 100%;
	position: relative;
	display:inline-block;
	z-index: 500;
}
.slider>.navContainer>.rightClass{
	height: 100%;
	width:40px;
	background: url(../images/location_gallery_arrow2.png) no-repeat center;
	background-position-x:0;
	position: absolute;
	opcity:0.6;
	right:53.5%;
	cursor:pointer;
}
.slider>.navContainer>.leftClass{
	left:56%;
	height: 100%;
	width:40px;
	background: url(../images/location_gallery_arrow1.png) no-repeat center;
	background-position-x:0;
	position: absolute;
	opcity:0.6;
	cursor:pointer;
}


.slider > span > img {
	height: 100%;
	width: auto;
}


@media ( max-width:1200px ) {
	.slider { max-height: 400px; }
}
@media ( max-width:991px ) {
	.slider { max-height: 300px; }
}
@media ( max-width:640px ) {
	.slider { max-height: 200px; }
	.slider>span { width: 50%; }
}