.main_footer {
	background:rgba(231,45,144,1);
	background: -moz-linear-gradient(left, rgba(231,45,144,1) 0%, rgba(234,79,115,1) 48%, rgba(234,85,110,1) 53%, rgba(236,105,93,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231,45,144,1)), color-stop(48%, rgba(234,79,115,1)), color-stop(53%, rgba(234,85,110,1)), color-stop(100%, rgba(236,105,93,1)));
	background: -webkit-linear-gradient(left, rgba(231,45,144,1) 0%, rgba(234,79,115,1) 48%, rgba(234,85,110,1) 53%, rgba(236,105,93,1) 100%);
	background: -o-linear-gradient(left, rgba(231,45,144,1) 0%, rgba(234,79,115,1) 48%, rgba(234,85,110,1) 53%, rgba(236,105,93,1) 100%);
	background: -ms-linear-gradient(left, rgba(231,45,144,1) 0%, rgba(234,79,115,1) 48%, rgba(234,85,110,1) 53%, rgba(236,105,93,1) 100%);
	background: linear-gradient(to right, rgba(231,45,144,1) 0%, rgba(234,79,115,1) 48%, rgba(234,85,110,1) 53%, rgba(236,105,93,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e72d90', endColorstr='#ec695d', GradientType=1 );
	background-size:cover;

	@media ( max-width:$tablet_Small ) { text-align:center; }
	
	.footer_logo {
		display: inline-block;
		margin:100px 0 0 0;
		width:100%; 
		@media ( max-width:$phone_Medium ) { width:60%; margin:60px 0 20px 0; }

		img {
			@media ( max-width:$tablet_Wide ) { width:100%; }
			@media ( max-width:$tablet_Small ) { width:50%; text-align:center; }
			@media ( max-width:$phone_Medium ) { width:100%; }
		} 
	} 
	.footer_img {
		background:url(../../image/footer_bg.png) left bottom no-repeat;
		height:288px;
		background-size: cover;
		@media ( max-width:$tablet_Wide ) { background-size:contain; height:180px; }
		@media ( max-width:$phone_wide ) { height:110px; }
		@media ( max-width:$phone_Small ) { height:80px; }

	}
	.widget_nav_menu {
		margin-top: 142px;
		@media ( max-width:$tablet_Small ) { margin-top:70px; }
		@media ( max-width:$phone_Medium ) { width:48%; text-align:center; margin:30px auto 0 auto; float: none !important; }

		h6 {
			color: $primary_TextColor;
			font-size:$body_FontSize - 6;
			padding-bottom:20px;
			line-height: 11px;
			letter-spacing: 2px;
			text-transform: uppercase;
			@media ( max-width:$tablet_Small ) { text-align:left; padding-bottom:15px; }

		}
		ul {
			li {
				width:100%;
				@media ( max-width:$tablet_Small ) { text-align:left; }

				a {
					color:$primary_TextColor;
					font-size:$body_FontSize;
					line-height:15px;
					margin-bottom:22px;
					background:url(../../image/restaurant-footer-arrow.png) left center no-repeat;
					padding-left:34px;
					
					&:hover {
						color:#171717;
						background:url(../../image/restaurant-footer-arrow-hover.png) left center no-repeat;
					}
				}
			}
		}
	}
	.copyright {
		color: $primary_TextColor;
		font-size:$body_FontSize - 6;
		margin: 80px 0 50px 0;
		letter-spacing: 2px;

		a {
			color: $primary_TextColor;
		}

		@media ( max-width:$tablet_Wide ) { margin-top:30px; line-height:16px; }
	}
} 