// body.home .main_header {
// 	position:fixed;
// 	bottom:0;
// }

body.home .header_outer {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 19;
	transition: all 0.5s ease-in-out;
}

body.home #header.stick {
	position: fixed;
	bottom: auto;
	top: 0;
}

.main_header {
	width:100%;
	height:80px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e72d8f+0,ec6b5b+100 */
	background: rgb(231,45,143); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(231,45,143,1) 0%, rgba(236,107,91,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(231,45,143,1) 0%,rgba(236,107,91,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(231,45,143,1) 0%,rgba(236,107,91,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e72d8f', endColorstr='#ec6b5b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	transition:all 300ms;
	z-index:2;

	.navbar-default {
		min-height:0;
		margin: 0;
		background-color: transparent;
		border:0;
	}
	
	.navbar-default .navbar-brand {
		padding: 0;
		margin: 28px 0 0 0;
		height: auto;
		
		img {
			width:150px;
			height:25px;
		}
	}

	.navbar-default .navbar-nav > li > a {
		padding: 35px 48px 26px 0;
		font-size: $body_FontSize - 6;
		font-family: $primary_FontFamily;
		color: $primary_TextColor;
		text-transform: uppercase;
		letter-spacing: 1px;
		&:hover {
			color: $body_Bg;
			@media ( max-width:$tablet_Small ) { color:$primary_TextColor; background-color: #ff6600; }
		}

		@media ( max-width:$tablet_Wide ) { padding:35px 20px 35px 0; }
		@media ( max-width:$tablet_Small ) { padding:10px 0 15px 15px; }
	}
	.navbar-default .navbar-nav > li:last-child {
		padding-right: 0;
	}
	.navbar-default .navbar-toggle {
		background: transparent;
		border: none;
		margin:25px 0 21px 0;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color:#fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		// background-color: #e72d8f;
		background-color: transparent;
	}
	.collapse.in {
		@media ( max-width:$tablet_Small ) { position:fixed !important; bottom:80px !important; width:95.5%; }
		@media ( max-width:$phone_wide ) { width:94%; }
		@media ( max-width:$phone_Medium ) { width:93%; }
		@media ( max-width:$phone_Small ) { width:91%; }
		
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		@media ( max-width:$tablet_Small ) { background-color: $body_Bg; border-color: transparent; }
	}
}

.main_header.fixed {
	background: #e72d8f; 
	background: -moz-linear-gradient(-45deg,  #e72d8f 0%, #e7308c 19%, #e83e81 37%, #ea5270 51%, #ea5270 70%, #ea5270 83%, #ec6a5c 100%);
	background: -webkit-linear-gradient(-45deg,  #e72d8f 0%,#e7308c 19%,#e83e81 37%,#ea5270 51%,#ea5270 70%,#ea5270 83%,#ec6a5c 100%); 
	background: linear-gradient(135deg,  #e72d8f 0%,#e7308c 19%,#e83e81 37%,#ea5270 51%,#ea5270 70%,#ea5270 83%,#ec6a5c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e72d8f', endColorstr='#ec6a5c',GradientType=1 );
	.collapse.in {
		position:relative !important;
		width:initial !important;
		bottom:0 !important;
	}

}

.sub_header {
	position:relative;
	height: auto;
	bottom:0;
	background: #e72d8f; 
	background: -moz-linear-gradient(-45deg,  #e72d8f 0%, #e7308c 19%, #e83e81 37%, #ea5270 51%, #ea5270 70%, #ea5270 83%, #ec6a5c 100%);
	background: -webkit-linear-gradient(-45deg,  #e72d8f 0%,#e7308c 19%,#e83e81 37%,#ea5270 51%,#ea5270 70%,#ea5270 83%,#ec6a5c 100%); 
	background: linear-gradient(135deg,  #e72d8f 0%,#e7308c 19%,#e83e81 37%,#ea5270 51%,#ea5270 70%,#ea5270 83%,#ec6a5c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e72d8f', endColorstr='#ec6a5c',GradientType=1 );

	transition:all 300ms;
	z-index:2;

	h1 {
		font-size:$body_FontSize + 62px;
		line-height: 58px;
		padding:16px 0 50px 15px;
		font-family: 'bariol_seriflight';
		@media ( max-width:$tablet_Wide ) { font-size:$body_FontSize + 42px; padding-left:0; }
		@media ( max-width:$phone_Medium ) { font-size:$body_FontSize + 22px; }
	}

	.navbar-default {
		min-height:0;
		margin: 0;
		background-color: transparent;
		border:0;
	}
	.navbar-default .navbar-brand {
		padding: 0;
		margin: 28px 0 0 0;
		height: auto;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 32px 48px 28px 0;
		font-size: $body_FontSize - 6;
		font-family: $primary_FontFamily;
		color: $primary_TextColor;
		text-transform: uppercase;
		letter-spacing: 1px;

		&:hover {
			color: $body_Bg;
			@media ( max-width:$tablet_Small ) { color:$primary_TextColor; background-color: #ff6600; }
			
		}

		@media ( max-width:$tablet_Wide ) { padding:35px 20px 35px 0; }
		@media ( max-width:$tablet_Small ) { padding:10px 0 15px 15px; }
	}
	.navbar-default .navbar-nav > li:last-child {
		padding-right: 0;
	}
	.navbar-default .navbar-toggle {
		border-color: #b71b6d;
		margin:25px 0 21px 0;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color:#fff;	
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #e72d8f;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		@media ( max-width:$tablet_Small ) { background-color: $body_Bg; border-color: transparent; }
	}
}

body.post-type-archive-career {
	.sub_header {
		h1 {
			padding-left:0;
			@media ( max-width:$tablet_Small ) { font-size:$body_FontSize + 26px; padding-top:0; padding-bottom:25px; }
			@media ( max-width:$phone_Medium ) { font-size:$body_FontSize + 10px; line-height:$body_LineHeight - 8; padding:0 0 20px 0; }
		}
	}
}

.reservation {
	display: none !important;
}

.restaurant_heroimg, .restaurant_location_banner {
	position: relative;

	&::before {
		content: "";
    height: 250px;
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&1+0,0+100 */
		background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	}

	.container {
		z-index: 2;
	}
}