.main-navigation {
	margin:0px;
	padding:20px 0;
	text-align:right;
	@include span(8 at 5);

	.menu-toggle {
		display:none;
		float:right;
		font-size:13px;
		color:#000;
		line-height:19px;
		border:1px solid #000;
		padding:5px 10px;
		text-transform:uppercase;
		letter-spacing: 1px;
		background:#fff;
		margin:0px;
		@media #{$bp-tab} {
			display:block;	
		}
	}
		
	ul {
		margin:0px;
		padding:0px;
		list-style:none;

		li {
			margin:0 0 0 40px;
			padding:0px;
			display:inline-block;

			a {
				margin:0px;
				padding:0px;
				display:block;
				@include default-font;
				font-size:14px;
				color:#000;
			}
		}
	}
}

@media #{$bp-tab} {
	#primary-menu {
		width: 300px;
		display:none;
		text-align:center;
		border-top:solid 1px #b5dbe9;
		border-bottom:solid 1px #3184a1;
		-webkit-transform:translateX(-300px);
		-ms-transform:translateX(-300px);
		transform:translateX(-300px);
		position:fixed;
	    height: 100%;
	    overflow-y: scroll;
	}
	.menu.is-active {
		-webkit-transform:translateX(0);
		-ms-transform:translateX(0);
		transform:translateX(0);
	}
	.c-mask {
		z-index:100;
		top:0;
		left:0;
		width:0;
		height:0;
		background-color:#000;
		opacity:0;
		-webkit-transition:opacity .3s, width 0s .3s, height 0s .3s;
		transition:opacity .3s, width 0s .3s, height 0s .3s
	}
	.c-mask.is-active {
		width:100%;
		height:100%;
		opacity:.7;
		-webkit-transition:opacity .3s;
		transition:opacity .3s
	}
	.masthead.has-push-left {
		-webkit-transform:translateX(300px);
		-ms-transform:translateX(300px);
		transform:translateX(300px)
	}
}