.modal-open {
	padding-right:0 !important;
}
.restaurant_modalbox {
	width:1015px;

	@media ( max-width:$desktop_Small ) { width:auto; }

	.modal-dialog {
		margin-top:20vh;
		@media ( max-height:$desktop_Height )  { margin-top:10vh; }
		@media ( max-width:$tablet_Wide ) { width:auto; margin:15vh 30px 0 30px; }
	}
	.modal-content {
		background:transparent;
		box-shadow:none;
		border:0;
	}
	ul.modalbox_logos {

		li {
			margin: 10vh auto 0;
			display: block;
			text-align: center;

			/*&:nth-of-type(odd) {
				@extend .pull-left;
			}

			&:nth-of-type(even) {

				&:after {
					display: block;
					content: '';
					clear: both;
				}

				@extend .pull-right
			}

			&:nth-of-type(4) {
				margin-right: 70px;
				margin-top: -20px;
			}*/

			@media ( max-height: $tablet_SmallHeight) { margin: 10vh auto 0; }
			/*@media ( max-width:$tablet_Wide ) { width:42%; }
			@media ( max-width:$phone_Medium ) { margin:0 0 50px 0; }*/
			a {
				img {
					width: 300px;
				}
			}
		}
	}
}
.modal-backdrop.in {
	opacity:.85 !important;
}