.main_ourvision {
  .container {
    width:1250px;

    @media ( max-width:$laptop ) { width:auto; }
  }
  .ourvision_top {
    margin:90px 0 80px 0;
    
    @media ( max-width:$tablet_Small ) { margin:70px 0 50px 0; }

    h2 {
      color:$primary_TextColor;
      font-size:$body_FontSize + 18;
      line-height: $body_LineHeight + 10;
      padding:0 0 35px 0;
      font-family: $secondary_FontFamily;
      @media ( max-width:$tablet_Small ) { font-size:$body_FontSize + 10; }
      @media ( max-width:$phone_wide ) { font-size:$body_FontSize + 2; line-height: $body_LineHeight - 8; }

    }
    h6 {
      color:#999;
      font-size:$body_FontSize - 6;
      line-height:$body_LineHeight - 22;
      padding:0 0 40px 0;
      text-transform:uppercase;
      letter-spacing: 2px;
    }
    ul {

      width: 95%;
      margin: 0 auto;

      @media ( max-width:$tablet_Wide ) { width: 100%; padding: 0 25px; }
      
      li {
        float:left;
        display: list-item;
        width:100%;
        font-size: $body_FontSize;
        line-height: $body_LineHeight - 3;
        color:$secondary_color;
        padding:0 0 12px 0;
        @media ( max-width:$tablet_Small ) { font-size:$body_FontSize - 3; line-height: $body_LineHeight - 10; }
        span {
          display: block;
          margin:0 0 0 38px;
          color:$primary_TextColor;
          letter-spacing: 1px;
          @media ( max-width:$tablet_Small ) { margin:0 0 0 15px; }

          br {
            @media ( max-width:$desktop_Small ) { display:none; }
          }

        }
      }
    }
  }
}