.restaurant_newsevents {
	background:url(../../image/obon-news-background.png) center center;
	background-size:cover;
	padding:78px 0 100px 0;
	text-align:center;
	.container {
		width:1170px;
		@media ( max-width:$desktop_Small ) { width:auto; }
	}
	.newevents_btn {
		display: inline-block;
		font-size:$body_FontSize + 2;
		line-height: $body_LineHeight + 2;
		background-color: #ff6600;
		color:$primary_TextColor;
		padding:0 15px;
		text-transform: uppercase;
	}
	.newsevents_title {

		margin:60px 20px 20px 20px;

		a {
			color:$primary_TextColor;
			font-family: "leitura-news",serif;
			font-size:$body_FontSize + 22;
			line-height: $body_LineHeight + 12;
			
			&:hover, &:focus {
				color: $secondary_color;
				text-decoration: none;
			}

			@media ( max-width:$desktop_medium ) { font-size: $body_FontSize + 12; line-height: $body_LineHeight; }
			@media ( max-width:$desktop_medium ) { font-size: $body_FontSize + 6; line-height: $body_LineHeight - 5; }
			@media ( max-width:$tablet_Small ) { font-size:$body_FontSize + 22; line-height: $body_LineHeight + 12; }
			@media ( max-width:$phone_Medium ) { font-size:$body_FontSize + 12; line-height: $body_LineHeight + 2; }
		}
	}
	.newsevents_date {
		color:$primary_TextColor;
		font-size:$body_FontSize - 6;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}