.block-slider {

	.multi-image-slider{

		.slick-list, .slick-track {
			height: 600px;
		}

		.bg-image{
			height: 600px;
			border: 0;
		}

		.slick-prev, .slick-next {
			border: 0;
			text-indent: -99999px;
			z-index: 1;

			&:focus, &:active{
				outline: 0;
			}
		}

		.slick-slide {
			img {
				max-height: 100%;
				width: auto;
			}
		}

		.slick-prev{
			top: 0;
			left:30%;
			height: 100%;
			width:40px;
			background: url(../../image/location_gallery_arrow1.png) no-repeat center;
			background-position-x:0;
			position: absolute;
			cursor:pointer;
		}

		.slick-next{
			top: 0;
			height: 100%;
			width:40px;
			background: url(../../image/location_gallery_arrow2.png) no-repeat center;
			background-position-x:0;
			position: absolute;
			right:30%;
			cursor:pointer;
		}

		.container{
			width:100%;
			max-width:none;
		}
	}

}