.home_btm {
  .btm_box1 {
    width:50%;
    background:url(../images/home_thumbnail1.png) center center no-repeat;
    background-size: cover;   
    text-align: center;

    @media ( max-width:$tablet_Wide ) { width:100%; }

    .logo_box {
      width:1200px;
      height:700px;
      display: table-cell;
      vertical-align: middle;
      @media ( max-width:$desktop_wide ) { height: 580px; }
      @media ( max-width:$laptop ) { height: 500px; }
      @media ( max-width:$phone_Small ) { height: 400px; }

      
      img {
        width:300px;
        height:101px;
        margin:0 0 60px 0;
        @media ( max-width:$desktop_Small ) { margin:0 0 30px 0; }
        @media ( max-width:$phone_wide ) { width:auto; }
        @media ( max-width:$phone_Medium ) { width:45%; }
      }

      p {
        @include home_slidetext;
        padding:0 28% 22px 28%;
        @media ( max-width:$desktop ) { padding:0 22% 22px 22%; }

        @media ( max-width:$desktop_Small ) { padding:0 16% 22px 16%; }
        @media ( max-width:$tablet_Wide ) { padding:0 21% 22px 21%; }
        @media ( max-width:$phone_Medium ) { padding:0 6%; }

      }
      a {
        @include home_slidetext;
        font-size: $body_FontSize - 6;
        display: block;
        margin-top: -5px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;

        &:hover {
          color: #ec6a5b;
        }
      }
    }

    &:nth-child(2) {
      .logo_box {
        img {
          width:208px;
          height:220px;
          @media ( max-width:$phone_Medium ) { width:148px; height:140px; }
        }
      }
    }
  }

  .btm_box2 {
    width:50%;
    background:url(../images/home_thumbnail2.png) center center no-repeat;
    background-size: cover;
    
    @media ( max-width:$tablet_Wide ) { width:100%; }

    img {
      @media ( max-width:$phone_wide ) { width:40%; }
    }

  }
}