.home_box_left_content {
  position:relative;
  line-height:0;
  
  .carousel-indicators {
    bottom:160px;
    left:0;
    width:80px;
    margin-left:450px;
    @media ( max-width:$desktop_large ) { margin-left:460px; }
    @media ( max-width:$desktop ) { margin-left:260px; }
    @media ( max-width:$phone_wide ) { margin:0 auto; left:0; right:0; }
  }

  .featuredslide {
    display:inline-block;
    width:100%;
    background: center center no-repeat;
    background-size:cover;
    height:700px;

    @media ( max-width: $phone_Medium ) { height: 450px; }
  }

  .homefeatured_slider_detail {
    position:absolute;
    width:400px;
    top:155px;
    left:300px;
    text-align:center;
    letter-spacing: 1px;

    @media ( max-width:$desktop ) { left:100px; }
    @media ( max-width:$phone_wide ) { left:0; right:0; width:auto; padding:0 15px; }
    @media ( max-width:$phone_Medium ) { top: 85px; }


    img.featured_slider_logo {
      width:300px;
      height:111px;
      margin-bottom:60px;
      @media ( max-width:$phone_wide ) { width:50%; }
      @media ( max-width:$phone_Medium ) { height:auto; margin-bottom: 30px; }
    }
    p.featured_slider_detail {
        font-size: $body_FontSize - 3;
        line-height: $body_LineHeight - 8;
        color: $primary_TextColor;
        text-align:center;

        a {
          font-size: $body_FontSize - 3;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: $primary_TextColor;
        }
    }
  }
}

.featured-slide-overlay {
  @media only screen and (max-width: $phone_wide) {
    @include overlay( 0.5 );
  }
}

.home_box_right_content {
  position:relative;
  line-height:0;

  .carousel-indicators {
    bottom:160px;
    left:auto;
    width:80px;
    right:450px;
    @media ( max-width:$desktop_large ) { right:460px; }
    @media ( max-width:$desktop ) { right:260px; }
    @media ( max-width:$phone_wide ) { margin:0 auto; left:0; right:0; }
  }

  .featuredslide {
    display:inline-block;
    width:100%;
    background: center center no-repeat;
    background-size:cover;
    height:700px;

    @media ( max-width: $phone_Medium ) { height: 450px; }
  }

  .homefeatured_slider_detail {
    position:absolute;
    width:400px;
    top:155px;
    right:300px;
    text-align:center;

    @media ( max-width:$desktop ) { right:100px; }
    @media ( max-width:$phone_wide ) { right:0; right:0; width:auto; padding:0 15px; }
    @media ( max-width:$phone_Medium ) { top: 85px; }


    img.featured_slider_logo {
      width:300px;
      height:120px;
      margin-bottom:60px;
      @media ( max-width:$phone_wide ) { width:50%; }
      @media ( max-width:$phone_Medium ) { margin-bottom:30px; height:auto; }

    }
    p.featured_slider_detail {
        font-size: $body_FontSize - 3;
        line-height: $body_LineHeight - 8;
        color: $primary_TextColor;
        text-align:center;

        a {
          font-size: $body_FontSize - 3;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: $primary_TextColor;
        }
    }
  }
}