.announcement_outer {
	padding:48px 0;
	text-align:center;

	.announcement_text {
		display: block;
		color: #999;
		font-size:$body_FontSize - 6;
		margin:0;
		font-weight:700;
		line-height:$body_LineHeight - 23;
		letter-spacing: 1px;
	}
	.announcement_title {

		a {
			color: $primary_TextColor;
			font-size: $body_FontSize + 6;
			line-height:$body_LineHeight - 12;
			font-family: $secondary_FontFamily;
			position: relative;
			display: inline-block;

			&:hover {
				color: $secondary_color;
			}

			&::after {
				content: "";
				margin:15px auto 0 auto;
				background-color:#ec6b5b;
				border:0;
				height:2px;
				width: 100%;
				display: block;
			}

			@media ( max-width:$phone_Medium ) { font-size: $body_FontSize + 2; }
		}
	}
}

.home {
	.scrollup_arrow {
		display: block;
		margin:0 auto;
		cursor:pointer;
	}
}