.careers_inner {
	max-width:1200px;
	@media ( max-width:$laptop ) { margin: 0 15px; }
	@include push-auto;
	
	.table_outer {
		border:0;
		table {
			width:100%;
			border:0;
			tbody {
				tr {
					transition:all 300ms;
					th {
						border-top: 0;
						color:#999;
						font-size:$body_FontSize - 6;
						text-transform:uppercase;
						letter-spacing:1px;
					}
					td {
						border-top: 1px solid #666;
						
						&:not(.table-header) {
							padding: 0;
						}

						a {
							display: block;
							padding:30px 10px 32px 10px;
							font-size:$body_FontSize;
							color:$secondary_color;

							@media ( max-width:$tablet_Small ) { font-size:$body_FontSize - 4; }
						}

						img {
							float:right;
							margin-top:5px;
						}
					}
					&:hover {
						background-color: #222;
					}
				}
			}
		}
	}
}
.careers_detail_outer {
	margin:95px 0 162px 0;

	.inner {
		max-width:800px;
		@include push-auto;

		@media ( max-width:$tablet_Wide ) { margin: 0 15px; }

		h2 {
			color:$primary_TextColor;
			font-size:$body_FontSize + 18;
			line-height:$body_LineHeight + 10;
			padding-bottom:52px;
			letter-spacing:-3.4px;

			@media ( max-width:$phone_Medium ) { font-size:$body_FontSize + 6; line-height:$body_LineHeight + 6; letter-spacing: -2px; }


		}
		h3 {
			color:#999;
			font-size:$body_FontSize;
			padding-bottom:22px;
			text-transform:uppercase;
		}
		p {
			color:$primary_TextColor;
			font-size:$body_FontSize;
			line-height:$body_LineHeight;
			padding-bottom:40px;

			a {
				color:$secondary_color;

				&:hover {
					color:$primary_TextColor;
				}
			}
		}
		.careers_inner_list {
			li {
				float: left;
			    display: list-item;
			    width: 100%;
			    font-size: 18px;
			    line-height:$body_LineHeight - 3;
			    color: #ec6b5b;
			    padding: 0 0 20px 0;
			    list-style-position:inside;
				
				color:$primary_TextColor;
				font-size:$body_FontSize;
				line-height:$body_LineHeight - 18;
				
				@media ( max-width:$phone_Medium ) { line-height:$body_LineHeight - 20; }

				a {
					display:inline-block;
					width:auto;
				}
			}
		}
		.apply_text {
			font-size:$body_FontSize + 6;
			letter-spacing:-2px;

			@media ( max-width:$phone_Medium ) { font-size:$body_FontSize; line-height:$body_LineHeight; letter-spacing: initial; }
		}
	}
}