.page-id-300 {
	.single-post-content.custom-content-inner {
		.contact-heading {
			font-family: $primary_FontFamily;
			color: #999;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 12px;
		}

		.contact-info {
			p {
				font-family: $secondary_FontFamily;
				font-size: 36px;
				line-height: 48px;
				max-width: 100%;
			}
		}
	}
}