.restaurant_location_banner {

	.restaurant_banner_inner {
		background:url(../images/resturant_location_banner.png);
		background-size:cover;
		height:800px;
		@media ( max-width:$desktop_Small ) { height: 600px;}
	}
	.container {
		position:absolute;
		top:15px;
		left: 0;
		right:0;
		margin:0 auto;
	}
	.reservation {
		margin:17px 0 0 0;
		max-width: 33%;
		a {
			display: inline-block;
			font-size:$body_FontSize + 2;
			line-height:$body_LineHeight - 18;
			color: $primary_TextColor;
			text-transform: uppercase; 
			font-family: 'alternate-gothic-no-2-d', sans-serif;
			@media ( max-width:$phone_Medium ) { font-size:$body_FontSize - 5; }
		}
		@media ( max-width:$phone_wide ) { margin:12px 0 0 0; line-height:$body_LineHeight - 20; }
		

	}
	.obon_logo {
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%);
	    text-align: center;

		@media ( max-width:$phone_Medium ) { width:135px; }
		@media ( max-width:$phone_Small ) { width:132px; }
		@media ( max-width:$phone_Small ) { max-width: 90px; }

		a {
			display: inline-block;
			img {

				max-width: 180px;
				width: 100%;

				@media ( max-width:$phone_wide ) { width:75%; }
				@media ( max-width:$phone_Medium ) { width:100%; }
			}
		}
	}
	.sub_navbtn {
		margin:17px 0 0 0;
		height:17px;
		cursor: pointer;
		@media ( max-width:$phone_wide ) { margin:12px 0 0 0; }
		span {
			display: inline-block;
			color: $primary_TextColor;
			font-size:$body_FontSize + 2;
			line-height: $body_LineHeight - 22;
			font-family: 'alternate-gothic-no-2-d', sans-serif;
			margin: 0 18px 0 0;
			text-transform: uppercase;
			@media ( max-width:$phone_Medium ) { font-size:$body_FontSize - 4; margin:0 10px 0 0; }
		}
	}
}