.restaurant_obon_body {

	.reservation {
		font-size: 20px;
	}

	.sub_footer {
		.footer_list {

			ul li a {
				font-family: 'alternate-gothic-no-2-d', sans-serif;
				font-size: 30px;
			}
		}

	}

	.food_menu_outer {
		.location_detail {
			p {
				font-family: 'leitura-news', serif;
			}
		}
	}
}

.Obon {
  .reservation {
    margin: 17px 0 0 0;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'alternate-gothic-no-2-d', sans-serif;
    max-width: 33%;
  }

  .sub_navbtn span {
  	letter-spacing: 1px;
  }
}

.Obon ~ .content {
	.restaurant_newsevents .newevents_btn {
	    font-family: 'alternate-gothic-no-2-d', sans-serif;
	    letter-spacing: 2px;
	}

	.restaurantintro_outer.locations_layout_1 .dining_detail .diningdetail_row h4 {
	   letter-spacing: 0px;
	}

	.restaurantintro_outer .intro_title {
	    letter-spacing: 2px;
	}

	.food_menu_outer .food_menu_title {
	    padding: 0 40px;
	    padding-top: 10px;
	}

	.food_menu_outer .location_address h4 {
		font-family: 'leitura-news';
	  letter-spacing: 2px;
	}

	.food_menu_outer .location_address p {
	    font-weight: 500;
	}

	.main_food_menu .food_menu_detail .food_menu_inner h3 {
	    font-family: 'leitura-news', serif;
	}

	.main_food_menu .food_menu_detail .food_menu_inner .title_description {
	    font-family: 'leitura-news', serif;
	}

	.main_food_menu .food_menu_detail .food_menu_inner .item_title_outer .menu_item_description {
	    font-family: 'leitura-news', serif;
	}

	.main_food_menu .food_menu_detail .food_menu_inner .item_title_outer span {
	    font-family: 'leitura-news', serif;
	    font-weight: 900;
	    letter-spacing: 2px;
	}

	.sub_nav ul.secondary_list li a {
	    font-size: 30px;
	    line-height: 40px;
	}

	.sub_nav ul.primary_list li a {
	    font-size: 60px;
	    line-height: 50px;
	    margin-bottom: 30px;
	}	
}
