.sub_header {
	position:relative;
	height: auto;
	bottom:0;
	background: #e72d8f;
	background: -moz-linear-gradient(-45deg,  #e72d8f 0%, #e7308c 19%, #e83e81 37%, #ea5270 51%, #ea5270 70%, #ea5270 83%, #ec6a5c 100%);
	background: -webkit-linear-gradient(-45deg,  #e72d8f 0%,#e7308c 19%,#e83e81 37%,#ea5270 51%,#ea5270 70%,#ea5270 83%,#ec6a5c 100%);
	background: linear-gradient(135deg,  #e72d8f 0%,#e7308c 19%,#e83e81 37%,#ea5270 51%,#ea5270 70%,#ea5270 83%,#ec6a5c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e72d8f', endColorstr='#ec6a5c',GradientType=1 );

	transition:all 300ms;
	z-index:2;

	h1 {
		font-size:$body_FontSize + 62px;
		line-height: 58px;
		padding:16px 0 50px 15px;
		font-family: 'bariol_seriflight';
		@media ( max-width:$tablet_Wide ) { font-size:$body_FontSize + 42px; padding-left:0; }
		@media ( max-width:$phone_Medium ) { font-size:$body_FontSize + 22px; }
	}

	.navbar-default {
		min-height:0;
		margin: 0;
		background-color: transparent;
		border:0;
	}
	.navbar-default .navbar-brand {
		padding: 0;
		margin: 28px 0 0 0;
		height: auto;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 32px 48px 28px 0;
		font-size: $body_FontSize - 6;
		font-family: $primary_FontFamily;
		color: $primary_TextColor;
		text-transform: uppercase;
		letter-spacing: 1px;

		&:hover {
			color: $body_Bg;
			@media ( max-width:$tablet_Small ) { color:$primary_TextColor; background-color: #ff6600; }

		}

		@media ( max-width:$tablet_Wide ) { padding:35px 20px 35px 0; }
		@media ( max-width:$tablet_Small ) { padding:10px 0 15px 15px; }
	}
	.navbar-default .navbar-nav > li:last-child {
		padding-right: 0;
	}
	.navbar-default .navbar-toggle {
		border-color: #b71b6d;
		margin:25px 0 21px 0;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color:#fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #e72d8f;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		@media ( max-width:$tablet_Small ) { background-color: $body_Bg; border-color: transparent; }
	}
}

.restaurant_topborder {
	padding:3px 0 12px 0;
	background-color:$body_Bg;
	h2 {

		text-align: center;
		line-height: 10px;

		a {
			margin: 0;
			color: #999;
			font-size:$body_FontSize - 8;
			text-transform:uppercase;
			letter-spacing: 1px;
			font-weight: 700;
			font-family:Verdana, Geneva, sans-serif;
			line-height: 10px;
		}
	}
}
.restaurant_heroimg {
	.slide_one {
		float:left;
		width: 100%;
		background:url(../images/restaurant_hero_img.png) center center no-repeat;
		background-size:cover;
		padding: 44px 0 0 0;
		height: 700px;
		@media ( max-width:$phone_wide ) { height:580px; }
		@media ( max-width:$phone_Medium ) { height:480px; }

	}
	.slide_two {
		float:left;
		width: 100%;
		background:url(../images/restaurant_hero_img.png) center center no-repeat;
		background-size:cover;
		padding: 44px 0 0 0;
		height: 800px;
		@media ( max-width:$phone_wide ) { height:580px; }
		@media ( max-width:$phone_Medium ) { height:480px; }

	}
	.carousel-control {
		width:40px;
		height:12px;
		top:initial;
		bottom:50px !important;
	}
	.carousel-control.left {
		background-image:none;
		left: 47%;
		@media ( max-width:$desktop ) { left:46%; }
		@media ( max-width:$desktop_medium ) { left:45%; }
		@media ( max-width:$tablet_Wide ) { left:42%; }
		@media ( max-width:$phone_wide ) { left:38%; }
		@media ( max-width:$phone_Medium ) { left:35%; }
	}
	.carousel-control.right {
		background-image:none;
		right:47%;
		@media ( max-width:$desktop ) { right:46%; }
		@media ( max-width:$desktop_medium ) { right:45%; }
		@media ( max-width:$tablet_Wide ) { right:42%; }
		@media ( max-width:$phone_wide ) { right:38%; }
		@media ( max-width:$phone_Medium ) { right:35%; }

	}

	.container {
		position:absolute;
		top:15px;
		left: 0;
		right:0;
		margin:0 auto;
	}
	.reservation {
		margin:17px 0 0 0;
		display: inline-block;
		font-size:$body_FontSize - 2;
		line-height:$body_LineHeight - 18;
		color: $primary_TextColor;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-family: 'alternate-gothic-no-2-d', sans-serif;
		max-width: 33%;
		@media ( max-width:$phone_Medium ) { font-size:$body_FontSize - 5; }

		//@media ( max-width:$phone_wide ) { margin:12px 0 0 0; line-height:$body_LineHeight - 20; }


	}
	.obon_logo {
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%);
	    text-align: center;

		@media ( max-width:$phone_Medium ) { width:135px; }
		@media ( max-width:$phone_Small ) { width:132px; }

		a {
			display: inline-block;
			img {
				max-width: 180px;
				width: 100%;

				@media ( max-width:$phone_wide ) { width:75%; }
				@media ( max-width:$phone_Medium ) { width:100%; }
				@media ( max-width:$phone_Small ) { max-width: 90px; }
			}
		}
	}
	.sub_navbtn {
		margin:17px 0 0 0;
		height:17px;
		cursor: pointer;
		@media ( max-width:$phone_wide ) { margin:12px 0 0 0; }
		span {
			display: inline-block;
			color: $primary_TextColor;
			font-size:$body_FontSize + 2;
			line-height: $body_LineHeight - 22;
			font-family: 'alternate-gothic-no-2-d', sans-serif;
			margin: 0 18px 0 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			@media ( max-width:$phone_Medium ) { font-size:$body_FontSize - 4; margin:0 10px 0 0; }
		}
	}
}

.sub_nav {
	position:fixed;
	width:0;
	top:0;
	bottom: 0;
	right:0;
	background-color:#ff6600;
	z-index:2;
	transition:all 300ms;

	.subnav_inner {
		padding:85px 352px 62px 168px;

		@media ( max-width:$desktop_large ) { padding: 82px 198px 0 146px; }
		@media ( max-width:$desktop ) { padding:82px 88px 0 92px; }
		@media ( max-width:$desktop_wide ) { padding:82px 38px 0 92px; }
		@media ( max-width:$laptop_wide ) { padding:82px 82px 0 50px; }
		@media ( max-width:$laptop ) { padding:82px 42px 0 50px; }
		@media ( max-width:$desktop_Small ) { padding:82px 28px 0 92px; }
		@media ( max-width:$phone_wide ) { padding:78px 18px 0 50px; }
		@media ( max-height: 360px ) { height:330px; overflow:scroll; }
	}

	img.nav_crossbtn {
		display:none;
		cursor: pointer;
		margin: 0 0 62px 0;
		@media ( max-width:$phone_wide ) { margin:0 0 30px 0; }
	}
	ul.primary_list {
		li {
			width:100%;
			a {
				display: inline-block;
				width:100%;
				text-align: right;
				color: $primary_TextColor;
				font-size:$body_FontSize + 42;
				line-height: $body_LineHeight + 42;
				text-transform: uppercase;
				font-family: 'alternate-gothic-no-2-d', sans-serif;

				@media ( max-width:$desktop_Small ) { font-size:$body_FontSize + 28; line-height: $body_LineHeight + 18; }
				@media ( max-width:$phone_wide ) { font-size:$body_FontSize + 8; line-height: $body_LineHeight - 10; }

				&:hover {
					color: $body_Bg;
				}
			}
		}
	}
	ul.secondary_list {
		li {
			width:100%;
			@media ( max-width:$phone_wide ) { float:left; line-height:$body_LineHeight - 8; }
			a {
				display: inline-block;
				width:100%;
				text-align: right;
				color: $primary_TextColor;
				font-size:$body_FontSize ;
				line-height: $body_LineHeight - 5;
				text-transform: uppercase;
				font-family: 'alternate-gothic-no-2-d', sans-serif;
				@media ( max-width:$phone_wide ) { font-size:$body_FontSize - 3; line-height: $body_LineHeight - 12; }
				&:hover {
					color: $body_Bg;
				}
			}
		}
	}
}

.show_nav {
	width:850px;
	z-index: 10;

	@media ( max-width:$desktop_large ) { width:670px; }
	@media ( max-width:$desktop ) { width:510px; }
	@media ( max-width:$desktop_wide ) { width:460px; }
	@media ( max-width:$laptop_wide ) { }
	@media ( max-width:$laptop ) { }
	@media ( max-width:$desktop_Small ) { width:380px; }
	@media ( max-width:$phone_wide ) { width:300px; }

	img.nav_crossbtn {
		display:block;
	}
}

.sub_footer {
	background-color:#ff6600;
	padding:100px 0 125px 0;
	@media ( max-width:$tablet_Small ) { padding: 80px 0 50px 0; }

	.footer_list {
		@media ( max-width:$phone_wide ) { float:none !important; width:52%; margin:0 auto 50px auto; }
		h6 {
			color: $primary_TextColor;
			font-size: $body_FontSize - 4;
			padding:0 0 27px 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			@media ( max-width:$phone_wide ) { font-size: $body_FontSize - 7; }
		}
		ul {
			li {
				width:100%;
				a {
					color: $primary_TextColor;
					font-size: $body_FontSize + 12;
					line-height: $body_LineHeight;
					text-transform: uppercase;
					letter-spacing: 1px;
					padding:0 0 0 35px;
					font-family: 'alternate-gothic-no-2-d', sans-serif;
					background:url(../../image/restaurant-footer-arrow.png) left center no-repeat;

					@media ( max-width:$desktop_Small ) { font-size:$body_FontSize + 4; }
					@media ( max-width:$tablet_Wide ) { font-size:$body_FontSize - 3; }

					&:hover {
						background:url(../../image/restaurant-footer-arrow-hover.png) left center no-repeat;
						color: $body_Bg;
					}
				}
			}
		}
	}
	.copyright {
		color: $primary_TextColor;
		font-size: $body_FontSize - 6;
		line-height: $body_LineHeight - 20;
		margin:98px 0 0 0;
		letter-spacing: 2px;

		a {
			color: $primary_TextColor;
		}

		@media ( max-width:$tablet_Wide ) { margin-top:30px; line-height:16px; }
	}
	.footer_logo {
		display: inline-block;
		img {
			width: 100%;

			@media ( max-width:$tablet_Wide ) { width:100%; }
			@media ( max-width:$phone_Medium ) { width:80%; }
		}
		@media ( max-width:$tablet_Small ) { margin:0 0 50px 0; }
		@media ( max-width:$phone_Medium ) { width:100%; text-align:center; }

	}

}
