.restaurant_goodness_body, .restaurant_location_banner.Goodness {

	.reservation {
		text-transform: uppercase;
		line-height: 16px;
    font-family: $goodnessSecondary;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
	}

	.sub_navbtn {
		span {
	    font-family: "proxima-nova", sans-serif;
	    font-weight: 400;
	    font-size: 12px;
	    letter-spacing: 2px;
		}
	}

	.sub_nav ul.primary_list li a {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 30px;
    font-family: "jubliat", serif;
    font-style: normal;
    font-weight: 400;
	}

	.sub_nav ul.secondary_list li a {
    font-size: 14px;
    line-height: 20px;
    font-family: “proxima-nova”,sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
	}

	.restaurantintro_outer {
		.intro_title {
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-family: "proxima-nova", sans-serif;
	    font-weight: 400;
	    font-size: 12px;
	    letter-spacing: 2px;


	 		@media ( max-width:$desktop_medium ) { margin:25px 0; }
		}

		.intro_text {
			font-size:24px;
			margin:0 90px 0 0;
			line-height: $body_LineHeight;
	    font-family: "jubilat",serif;
   	  letter-spacing: 0px;

			@media ( max-width:$desktop_medium ) { font-size:18px; }
			@media ( max-width:$tablet_Small ) { margin:0; }

		}
	}


	.restaurantintro_outer.locations_layout_2 .dinning_inner .one-liner	{
		letter-spacing: 2px;
	}

	.restaurant_newsevents {
		.newevents_btn	{
			font-size: 16px;
			font-family: "jubilat",serif;
	    font-weight: bold;
	    text-transform: uppercase;
	    letter-spacing: 1px;
			color: white;
			background-color: transparent;
		}

		.newsevents_title {
			a {
				font-family: $goodnessPrimary;
			}
		}

		.newsevents_date {
			color: white;
			font-family: "proxima-nova", sans-serif;
			font-weight: bold;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}

	.sub_footer {
		.footer_list {
			ul li a {
				letter-spacing: 0;
				font-family: $goodnessPrimary;
				font-size: 24px;
		    text-transform: none;
			}

			h6	{
				font-family: "proxima-nova", sans-serif;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
		}

		.copyright {
			font-family: 'proxima-nova', sans-serif;
		}
	}


}

.Goodness ~ .content {
  .food_menu_outer {

		.food_menu_title {
			font-family: 'jubilat', serif;
			background-color: transparent;
			position: relative;
			bottom: 100px;
			font-weight: lighter;
			text-transform: none;
			letter-spacing: 0px;

			@media only screen and (max-width: $phone_wide) {
				transform: scale(.8);
				font-size: 60px;
				line-height: 60px;
				font-weight: lighter;
			}
		}

	  .location_address h3 {
	  	font-family: 'jubilat', serif;
	  	font-size: 16px;
	  	line-height: 20px;
	  	text-transform: uppercase;
	  	letter-spacing: 1px;
	  	font-weight: bold;
	  }

	  .location_detail .menu_title_list li {
	  	font-family: 'jubilat', serif;
	  	font-weight: normal;
	  	text-transform: none;

	  	svg {
	  		top: -4px;
	  	}
	  }

	  .location_address h4 {
			font-family: 'proxima-nova';
			font-weight: bold;
			font-size: 12px;
			line-height: 20px;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: #999;
	  }

	  .location_address p {
	  	font-family: 'jubilat';
	  	font-size: 20px;
	  	line-height: 36px;
			font-weight: normal;
	  }
	}

	.main_food_menu { 
		.food_menu_sidebar { 
			.food_menu_list li a {
		  	font-family: 'jubilat', serif;
		  	font-weight: normal;
		  	text-transform: none;
		  	letter-spacing: 0;
			}
		}

		.food_menu_detail {
			h2 {
				font-family: 'jubilat', serif;
				font-weight: lighter;
				font-size: 60px;
				line-height: 60px;
				text-transform: none;
			}

			.food_menu_inner {
				h3 {
					font-family: 'jubilat', serif;
					font-size: 36px;
					line-height: 40px;
				}

				h4 {
					font-family: 'jubilat', serif;
					font-weight: bold;
					font-size: 16px;
					line-height: 20px;
					text-transform: uppercase;
					letter-spacing: 1px;
				}

				.item_title_outer {
					.menu_item_description {
				  	font-family: 'jubilat';
				  	font-size: 20px;
				  	line-height: 36px;
					}

					span {
						font-family: 'proxima-nova', sans-serif;
						font-size: 12px;
						line-height: 20px;
						text-transform:uppercase;
						letter-spacing: 2px;
						font-weight: bold;
						color: #999999;
					}
				}

				.title_description {
			    font-family: 'jubilat', serif;
				}
			}
		}
	}
}

.Goodness ~ .sub_footer {
	.footer_list {
		ul li a {
			letter-spacing: 0;
			font-family: $goodnessPrimary;
			font-size: 24px;
	    text-transform: none;
		}

		h6	{
			font-family: "proxima-nova", sans-serif;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}

	.copyright {
		font-family: 'proxima-nova', sans-serif;
	}
}