@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700');
$bird_primary: 'Karla', sans-serif;


// Bird Font Style Mixins

@mixin bird_header {		
	text-transform: uppercase;
	line-height: 16px;
  font-family: $bird_primary;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
}

@mixin bird_default {
	font-family: $bird_primary;
	font-size: 20px;
	line-height: 34px;
	text-transform: none;
	font-weight: normal;
}

@mixin bird_h2 {
  font-family: $bird_primary;
  font-size: 60px;
  line-height: 60px;
  text-transform: none;
}

@mixin bird_h3 {
	font-family: 'alternate-gothic-no-2-d', sans-serif;
	letter-spacing: 1px;
	font-size: 24px;
	line-height: 34px;
}


// 

.restaurant_bird_body, .restaurant_location_banner.Bird {

	.reservation {
		@include bird_header;
	}

	.sub_navbtn {
		span {
	    @include bird_header;
		}
	}

	.sub_nav ul.primary_list li a {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 30px;
    font-family: "jubliat", serif;
    font-style: normal;
    font-weight: 400;
	}

	.sub_nav ul.secondary_list li a {
    font-size: 14px;
    line-height: 20px;
    font-family: “proxima-nova”,sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
	}

	.restaurantintro_outer {
		.intro_title {
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-family: "proxima-nova", sans-serif;
	    font-weight: 400;
	    font-size: 12px;
	    letter-spacing: 2px;


	 		@media ( max-width:$desktop_medium ) { margin:25px 0; }
		}

		.intro_text {
			@include bird_default;

		}
	}

	.restaurantintro_outer.locations_layout_1 .dining_detail .diningdetail_row h4 {
		background-color: #3dcbcc;

		&:hover {
			color: #3dcbcc;
			border-color: #3dcbcc;
		}
	}

	.restaurantintro_outer.locations_layout_1 .dining_detail .diningdetail_row .diningarrow_btn {
		color: #3dcbcc;
	}

	.restaurantintro_outer.locations_layout_2 .dinning_inner .one-liner	{
		letter-spacing: 2px;
	}

	.restaurant_newsevents {
		.newevents_btn	{
			font-size: 16px;
			font-family: "jubilat",serif;
	    font-weight: bold;
	    text-transform: uppercase;
	    letter-spacing: 1px;
			color: white;
			background-color: transparent;
		}

		.newsevents_title {
			a {
				font-family: $goodnessPrimary;
			}
		}

		.newsevents_date {
			@include bird_header;
			color: #999;
		}
	}

	.sub_footer {
		.footer_list {
			ul li a {
				@include bird_default;
				text-transform: uppercase;
			}

			h6	{
				@include bird_header;
			}
		}

		.copyright {
			@include bird_header;
		}
	}


}

.Bird ~ .content {
  .food_menu_outer {

		.food_menu_title {
	    font-family: 'alternate-gothic-no-2-d', sans-serif;
			background-color: transparent;
			position: relative;
			bottom: 100px;
			text-transform: uppercase;
			letter-spacing: 0px;

			@media only screen and (max-width: $phone_wide) {
				transform: scale(.8);
				font-size: 60px;
				line-height: 60px;
				font-weight: lighter;
			}
		}

	  .location_address h3 {
	  	@include bird_h3;
	  }

	  .location_detail .menu_title_list li {
	  	@include bird_default;
	  	font-size: 24px;
	  	line-height: 38px;
	  	text-transform: uppercase;

	  	svg {
	  		top: 0;
	  	}
	  }

	  .location_detail p {
	  	@include bird_default;
	  	font-weight: normal;
	  }

	  .location_address h4 {
			@include bird_header;
			color: #999;
	  }

	  .location_address p {
	  	@include bird_default;
	  }
	}

	.main_food_menu { 
		.food_menu_sidebar { 
			.food_menu_list li a {
		  	@include bird_default;
		  	font-size: 24px;
		  	line-height: 38px;
		  	text-transform: uppercase;
			}
		}

		.food_menu_detail {
			h2 {
				@include bird_h2;
			}

			.food_menu_inner {
				h3 {
					@include bird_header;
					font-size: 20px;
					line-height: 24px;
					letter-spacing: 0;
					font-weight: normal;
				}

				h4 {
					@include bird_h3;
				}

				.item_title_outer {
					.menu_item_description {
				  	@include bird_default;
					}

					span {
						@include bird_header;
						color: #999999;
					}
				}

				.title_description {
			    font-family: $bird_primary;
				}
			}
		}
	}
}

.Bird ~ .sub_footer {
	.footer_list {
		ul li a {
			@include bird_default;
			font-weight: bold;
			text-transform: uppercase;
		}

		h6	{
			@include bird_header;
		}
	}

	.copyright {
		@include bird_header;
	}
}

